@use 'src/styles/vars';

.gamePicture {
  width: 15vw;
  &__image {
    width: 100%;
    margin-top: 1vh;
  }
}

.gameContent {
  &__article {
    margin-left: 2vw;
    width: 25vw;
  }
}

.game {
  &__title {
    margin-left: 1vw;
  }
  &__info {
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: center;
  }
}
